<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Danh sach Page</title>
</head>

<body>

    <h2>Danh sách Page</h2>


    <table border="1">

        <tr>
            <th>ID</th>
            <th>Page Name</th>
            <th>Parent Page ID</th>
            <th>Action</th>
        </tr>

        <tr th:each="p : ${lstPages}">

            <td th:text="${p.id}"></td>

            <td th:text="${p.pageName}"></td>

            <td th:text="${p.parentPageId}"></td>

            <td>
                <a th:href="@{/page/view/{id}(id=${p.id})}">[view]</a>
                <a th:href="@{/page/edit/{id}(id=${p.id})}">[edit]</a>
                <a th:href="@{/page/delete/{id}(id=${p.id})}">[delete]</a>
            </td>

        </tr>

    </table>

</body>

</html>