<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nhập thông tin sinh viên</title>
</head>

<body>

<h2>NHẬP THÔNG TIN SINH VIÊN</h2>

<form action="/input" method="post">

    MSSV:<br>
    <input type="text" name="mssv"><br><br>

    Họ tên:<br>
    <input type="text" name="hoten"><br><br>

    Năm sinh:<br>
    <input type="text" name="namsinh"><br><br>

    Giới tính:<br>
    <input type="text" name="gioitinh"><br><br>

    <button type="submit">Gửi</button>

</form>

</body>
</html>