body {
    font-family: Arial;
    margin: 40px;
}

.container {
	width: 300px;
    margin: 100px auto; 
    text-align: center;
}

h2 {
    color: #2c3e50;
}

input {
    padding: 5px;
    width: 200px;
}

input[type=submit] {
    margin-top: 10px;
}
